TELNYX_PUBLIC_KEY=''
TELNYX_API_KEY=''
TELNYX_FAX_CONNECTION_ID= # Create new Fax API App in Telnyx Portal>Programmable Voice>Fax API Applications and fill in Application ID here as a number, not string
# Make sure to set an outbound voice profile for the Fax API Application in Real-Time Communication>Voice>Settings>Outbound Voice Profile>Create. Then go back into the Fax Application and set it. 
# FAX Application webhook URL: [HOST]/telnyx-webhook
MESSAGE_PROFILE_ID='' # Create new Messaging Profile in Telnyx Portal>Real-Time Communication>Messaging>Programmable Messaging>Add New Profile>Webhook URL: [HOST]/sms
TELNYX_FAX_FROM_NUMBER=+1234567890  # Replace with your Telnyx configured outbound fax number
MEDIA_BASE_URL=https://example.com/static  # Replace with the base URL for media files
PORT=
HOST=
# IPs prefilled here belong to Telynx https://support.telnyx.com/en/articles/1130687-whitelisting-telnyx-ip-addresses
WHITELISTED_IP_RANGES='["64.16.250.10/32", "192.76.120.10/32", "185.246.41.140/32", "185.246.41.141/32", "192.76.120.128/29", "192.76.120.136/29", "192.76.120.144/29", "192.76.120.160/29", "185.246.41.0/29", "185.246.41.8/29", "185.246.41.16/29", "36.255.198.128/25", "50.114.136.128/25", "50.114.144.0/21", "64.16.226.0/24", "64.16.227.0/24", "64.16.228.0/24", "64.16.229.0/24", "64.16.230.0/24", "64.16.248.0/24", "64.16.249.0/24", "103.115.244.128/25", "185.246.41.128/25"]'
TUNNEL_TOKEN='' #cloudflare tunnel token
LOG_LEVEL= #ERROR set by default, DEBUG available 